<h1>Editer l'article</h1>
<%= render 'articles/formulaire'%>

<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
<%= link_to 'Create article', new_article_path %>
<%= link_to 'About', about_path %>