<h1> Tous les articles ! </h1>
<p>
<%= link_to 'Créer un article', new_article_path %>
<%= link_to 'Home', root_path %>
<table>
    <thead>
        <tr>
          <th>Titre</th>
          <th>Description</th>
        </tr>
    </thead>
       <% @articles.each do |article| %>
   <tbody>
        <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        </tr>
  </tbody>
  <% end %>
</table>

<%= link_to 'Home', root_path %>
